body{
    background-color:#FC7B02;
}

.form-control:focus{
    border-color:white !important;
    box-shadow: 0px 0px 10px white;
}

.jumbotron{
    background: rgba(255,255,255,0);
}

.container {
    background: rgba(255,255,255,0);
}

.form-container{
    background: rgba(0,0,0,0.1);
    border-radius: 0px !important;
}

.btn{
    border-radius: 0px !important;
}

.form-control{
    border-radius: 0px !important;
}

.navbar-nav > li > .dropdown-menu {
    background-color: rgba(0,0,0,0.2);
}

.dropdown-menu{
    border-radius:0px !important;
}

.dropdown-menu > li > a{
    color:white;
    font-size: 110%;
}

