
.form-container {
  width: 100%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.form-signup {
  max-width: 450px;
  padding: 20px;
  margin: auto;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
  margin-bottom: 10px;
}
.form-signup .checkbox {
  font-weight: normal;
}
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}

.form-signup input {
  margin-bottom: 10px;
}


.btn{
    background-color: rgba(255,255,255,0) ;
    border-color: rgba(255,255,255,1);
    border-width: 2px;
}

.btn:focus,
.btn:hover,
.btn:active{
    border-color: white;
    background-color: rgba(0,0,0,0.3);
}

.btn:active:focus{
    border-color: white;
    background-color: rgba(0,0,0,0.4);
}
