.sidebar-nav {
    padding: 20px 0px;
    background-color:rgba(0,0,0,0.2);
 }

.nav-header{
    margin-left:5%;
    color:white;
    font-size:150%;
    margin-left:15%;
}
.nav-list > li > a{
    color:white;
    font-size:120%;
}

.nav-list > li > a:hover,
.nav-list > li > a:focus{
    background-color: rgba(0,0,0,0.3);
}

.li-focus{
    background-color: rgba(0,0,0,0.3);
}

.user-container{
    background-color:rgba(0,0,0,0.2);
}

.btn-refund{
    height:40px;
    width:60px;
    background-color: rgba(0,0,0,0);
    border-radius:0px;
    border-width:2px;
    border-color:white;
    color:white;
    font-size:120%;
}

.btn-refund:hover,
.btn-refund:focus{
    background-color:rgba(255,255,255,1);
    color:black;
}

.panel-group > .panel{
    background:none !important;
}

.panel-group > .panel-transparent {
    background-color:none !important;
    border-radius:0px !important;
    border:0px;
}

.panel-group > .panel-transparent > .panel-heading{
    background:rgba(0,0,0,0.4) !important;
    border-radius: 0px;
    border:0px;
}

.panel-group > .panel-transparent > .panel-collapse > .panel-body {
    background:rgba(0,0,0,0.2) !important;
    border:0px;
}

.panel-heading .row > h2,
.panel-heading .row > h3{
    color:white !important;
}
.panel-body .row > h4{
    color:white !important;
}
